body {
    background-image: url(/images/pattern-tile.png); 
    background-repeat: repeat-y repeat-x;
    justify-content: center;
}
nav {
    display: flex;
    align-items: center;
    border: 1px solid white;
    justify-content: space-around;
}
/* Logo */
.logo {
    width: 200px;
    height: 150px;
    position: relative;
    border: 1px solid white;
  }
  
  /* Navigation items */
  .nav-item {
    width: 200px;
    height: 24px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: white;
    border-radius: 50px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
  }
  
  .nav-item-content {
    color: #1D1D1D;
    font-size: 28px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  /* Search box */
  .search-box {
    width: 264px;
    height: 16px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: white;
    border-radius: 50px;
    overflow: hidden;
    border: 4px #D1D1D1 solid;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  
  .search-text {
    color: #D1D1D1;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .search-icon {
    width: 24px;
    height: 24px;
    position: relative;
  }
  
  .search-icon img {
    width: 20px;
    height: 20px;
    left: 2px;
    top: 2px;
    position: absolute;
  }

  /* Main content container */
    .main-content {
    position: relative;
  }
  
  /* Website name */
  .website-name {
    width: 729px;
    height: 232px;
    left: 176px;
    top: 225px;
    position: absolute;
    color: white;
    font-size: 96px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  /* Main content text */
  .main-text {
    width: 575px;
    height: 179px;
    left: 176px;
    top: 507px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  /* Main content image */
  .main-image {
    width: 750px;
    height: 500px;
    left: 1000px;
    top: 225px;
    position: absolute;
  }
  
  /* Additional content container */
  .additional-content {
    width: 895px;
    height: 97px;
    left: 345px;
    top: 71px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  