body {
    background-image: url(../images/pattern-tile.png); 
    background-repeat: repeat-y repeat-x;
    margin: auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-image {
    width: 750px;
    height: 500px;
    align-items: center;
}
.mikkoUl {
    display: flex;
    justify-content: space-between;
}
.mikkoLi {
    display: flex;
    width: 200px;
    height: 24px;
    padding: 14px 45px 14px 45px;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.hakupalkki {
    margin-left: 200px;
    width: 264px;
    height: 16px;
    padding: 14px 28px 14px 28px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
    border: 4px #D1D1D1 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hae {
    border: none;
    float: right;
    padding: 10px;
    outline: 0;
    font-family: Inter;
    text-decoration-color: #D1D1D1;
    font-size: 20px;
    font-weight: 500;
}
.HakuNappi {
    border: 0;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
a {
    text-decoration: none;
}
.flex-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col {
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 960px;
}